
= render :partial => 'common/fb_controls'

= link_to 'auth', oauth_redirect_url
= link_to 'login', @oauth.url_for_oauth_code(:permissions => 'publish_stream')

%a#login.login{:href=>'#'}
  login
%a#logout.logout{:href => '#'}
  logout
